.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #008080;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#008080;
  padding-top: 20px;
}
.row > p{
  margin-top: 0.8em;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:0.8em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}

.btn__form{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
  margin:auto;
}
.btn__form:hover, .btn__form:focus{
	background-color: #008080;
	color:#fff;
}
.form__input-edit{
	width: 50%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:0.8em auto;
	transition: all .5s ease;
}
.form__input-edit:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn-edit{
	transition: all .5s ease;
	width: 30%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
  margin:auto;
}
.btn-edit:hover, .btn-edit:focus{
	background-color: #008080;
	color:#fff;
}
@media screen and (max-width: 640px) {
	.form__input-edit{
		width: 100%;
	}
	.btn-edit{
		width: 70%;
	}
}
.pravidla h1{
	color: #008080;
}
.pravidla span{
	font-size: 30px;
	color: #008080;
}
#tel_c:valid {
    color: green;
}
#tel_c:invalid {
    color: red;
}
#spz:valid {
    color: green;
}
#spz:invalid {
    color: red;
}
#spz_login:valid {
    color: green;
}
#spz_login:invalid {
    color: red;
}

a {
	text-decoration: none;
}
.header {
	width: 100%;
	height: 3rem;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	background-color: #ffffff;
	z-index: 100;
	transition: 0.5s;
}
.header_toggle {
	color: #008080;
	font-size: 1.5rem;
	cursor: pointer;
}
.header_img {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
}
.header_img img {
	width: 40px;
}
.l-navbar {
	position: fixed;
	top: 0;
	left: -30%;
	width: 68px;
	height: 100vh;
	background-color: #008080;
	padding: 0.5rem 1rem 0 0;
	transition: 0.5s;
	z-index: 100;
}
.nav {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}
.nav_logo, .nav_link {
	display: grid;
	grid-template-columns: max-content max-content;
	align-items: center;
	column-gap: 1rem;
	padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
	margin-bottom: 2rem;
}
.nav_logo-icon {
	font-size: 1.25rem;
	color: #F7F6FB;
}
.nav_logo-name {
	color: #F7F6FB;
	font-weight: 700;
}
.nav_link {
	position: relative;
	color: #8ae9e9;
	margin-bottom: 1.5rem;
	transition: 0.3s;
}
.nav_link:hover {
	color: #F7F6FB;
}
.nav_icon {
	font-size: 1.25rem;
}
.show {
	left: 0;
}
.body-pd {
	padding-left: calc(68px + 1rem);
}
.active {
	color: #F7F6FB;
}
.active::before {
	content: '';
	position: absolute;
	left: 0;
	width: 2px;
	height: 32px;
	background-color: #F7F6FB;
}
.height-100 {
	height: 100vh;
}
@media screen and (min-width: 768px) {
   .main {
	   margin: calc(3rem + 1rem) 0 0 0;
	   padding-left: calc(68px + 2rem);
  }
   .header {
	   height: calc(3rem + 1rem);
	   padding: 0 2rem 0 calc(68px + 2rem);
  }
   .header_img {
	   width: 40px;
	   height: 40px;
  }
   .header_img img {
	   width: 45px;
  }
   .l-navbar {
	   left: 0;
	   padding: 1rem 1rem 0 0;
  }
   .show {
	   width: calc(68px + 156px);
  }
   .body-pd {
	   padding-left: calc(68px + 188px);
  }
  .logout-mobile{
	  display: none;
  }
}
@media screen and (max-width: 640px) {
   .logout{
	   display: none;
   }
}

.results tr[visible='false'],
.no-result{
 display:none;
}

.results tr[visible='true']{
 display:table-row;
}

.counter{
 padding:8px; 
 color:#ccc;
}
.right-td{
   border-right: 1px solid #008080;
}
th{
   text-align: center;
} 
td{
   text-align: center;
}
.footer{
	margin-bottom: 30px;
}